# General
streamlit
requests

# Utils
tqdm

# Data and Visualisations
opencv_python_headless
numpy
matplotlib
plotly
pandas
networkx

# HuggingFace
torch
transformers
datasets

# NLP
nltk
spacy
TextBlob
vaderSentiment
pattern